/*stylesheet for resume file */


body {

	background-color: #ffffff; 
	font-family: "Helvetica";
	color: #1b1c1d;
	margin: 0em;
	padding: 0em ;
}

h2 {
	color: #516e8a;
	font-weight: lighter;
	letter-spacing: .1em;
}

h3 {
	color: #728fac;
	font-weight: lighter;
}

.main {
	margin: 2em;

}

/*header rules*/
.header{

	background-color: #f9fafb;
	text-align: center;
	font-family: "Helvetica";
	margin: 0em;
	padding: 5em 5em 6em 5em;
	position: relative;
}

.header_name {
	font-weight: lighter;
	font-size: 3em;
	letter-spacing: .2em;
}

.header_info {
	font-weight: lighter;
	font-size: 1em;
	color: #728fac;
}


.inline_elements {
	margin: .8em;
	display: inline-block;
	vertical-align: top;
	width: 47%; 
}



.date {
	font-size: .8em;
	font-style: italic;
	font-weight: lighter;
	color: #1b1c1d;
	float: right;
}

.footer {
	background-color: #f9fafb;
	margin: 0em;
	height: 5em;
	vertical-align: text-bottom;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 28em;
	text-align: center;
}


a {
	text-align: center;
	font-weight: lighter;
	color:  #1b1c1d;
	text-decoration: none;
}

a:visited {
	color: #516e8a;
}

a:hover {
	text-decoration: underline;
}

.bio {
	margin-left: 20%;
	margin-right: 20%;
	line-height: 1.5em;
	text-align: justify;
}
