/*stylesheet for resume file */
body {

	background-color: #ffffff; 
	font-family: "Helvetica";
	color: #1b1c1d;
	margin: 0em;
	padding: 0em ;
}

h2 {
	color: #516e8a;
}

h3 {
	color: #728fac;
}

.main {
	margin: 2em;

}

.header{

	background-color: #f9fafb;
	text-align: center;
	font-family: "Helvetica";
	margin: 0em;
	padding: 5em 5em 6em 5em;
	position: relative;
	border-top: 10 px solid #ffffff;
	border-bottom: 10 px solid #ffffff;
}

.header_name {
	font-weight: lighter;
	font-size: 3em;
	letter-spacing: .2em;
}

.header_info {
	font-weight: lighter;
	font-size: 1em;
	color: #728fac;
}


.inline_elements {
	margin: .8em;
	display: inline-block;
	vertical-align: top;
	width: 47%; 
}

.item {
	font-size: 1.2em;
	font-weight: bold;
	color: #728fac;
}

.date {
	font-size: .8em;
	font-style: italic;
	font-weight: lighter;
	color: #1b1c1d;
	float: right;
}

.footer {
	background-color: #f9fafb;
	margin: 0em;
}

